{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ p_title}}</title>
    <link rel="stylesheet" a href="{% static 'css/style.css'%}" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>{{ p_title}}</li>

                {% if user.is_authenticated%}
                <li class="navlink">{{username}}</li>
                {% else%}
                <li class="navlink">Login</li>
                <li class="navlink"><a href="{% url 'register' %}">Register</a></li>
                {% endif%}
                <li class="navlink">About</li>
                <li class="navlink"><a href="{% url 'index' %}">Home</a></li>
            </ul>
        </nav>
    </header>

    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Some text about who we are and what we do.</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team3.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    </div>


</body>
</html>