<!-- Loading of static files to our html template -->
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pr_title }}</title>
    <!-- Now accessing the static there a css dir and it has a style.css file
         the added css on 2 to be renders within our html file -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
     <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
     integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
    <script src="{% static 'js/dtl.js'%}"></script>
</head>

<body> 
    <header>
        <!-- 
        <nav>
                        <ul class="nav nav-expand-lg nav-dark bg-info mr-auto">

                        <div class="col-md-3"><li id='logo' class="nav-item">{{ pr_title }}</li></div>
                        <div class="col-md-4"></div>
                            {% if user.is_authenticated %}
                                <li class="nav-item" ><a href="{% url 'logout_user' %}" class="nav-link"> <button class="btn btn-outline-primary btn-md">Logout</button></a></li>
                                <li class="nav-item" ><a href="{% url 'index' %}" class="nav-link"><button class="btn btn-outline-primary btn-md"> Home</button></a></li>
                                <li class="nav-item" ><a href="{% url 'userforminfo' %}" class="nav-link"><button class="btn btn-outline-primary btn-md">Users</button> </a></li>
                                <li class="nav-item" ><a href="{% url 'user_form' %}" class="nav-link"><button class="btn btn-outline-primary btn-md">contact us</button></a></li>
                            {% else %}
                                <li class="nav-item" ><a href="{% url 'userforminfo' %}" class="nav-link"><button class="btn btn-outline-primary btn-md">Users</button> </a></li>
                                <li class="nav-item" ><a href="{% url 'user_form' %}" class="nav-link"><button class="btn btn-outline-primary btn-md">form</button></a></li>
                                <li class="nav-item"><a href="{% url 'login_page' %}" class="nav-link"><button class="btn btn-outline-primary btn-md"> Login</button></a> </li>
                                <li class="nav-item" ><a href="{% url 'register' %}" class="nav-link"><button class="btn btn-outline-primary btn-md">Register</button></a></li>
                            {% endif %}
                        </div> 
                        </ul>
                    </nav>
     
    # we are refering to our variable p_title  double braces tell htm we are escaping HTML and using python variable    
    <h1>Welcome, {{ username}} </h1><span> to {{ p_title }} class  Refactory Cohort-13  </span>
-->

        <nav>
            <ul>
                <li id="logo">{{ pr_title}}</li>
                {% if user.is_authenticated %}
                    <li style="color:blue">{{ username }}</li> 
                        <span> Welcome Back to my Inventory System </span></li>
                   
                    <li class="navlink"><a href="{% url 'logout_user' %}">Logout</a></li>
                    <li class="navlink"><a href="{% url 'about' %}">About</a></li>    
                    <li class="navlink"><a href="{% url 'user_form' %}">Add User Info</a></li> 
                    <li class="navlink"><a href="{% url 'home' %}">Home</a></li>
                {% else %}
                    <li style="color:blue">{{ username }} <span> Welcome to my Inventory System </span></li>
                    <li class="navlink"><a href="{% url 'login_page' %}">Login</a></li>
                    <li class="navlink"><a href="{% url 'register' %}">Register</a></li>
                    <li class="navlink"><a href="{% url 'user_form' %}">Add User Info</a></li>
                    <li class="navlink"><a href="{% url 'index' %}">Index</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div id="page_content">
        
        {% if user.is_authenticated %}
       
         
                   
        {% endif %}
 
        <!-- Formatted Django messages with boostrapp CSS -->
        {% for message in messages %}
            <div class="container-fluid p-0" id="message_container" >
            <!-- line creates a Bootstrap alert box with the appropriate style based on the message tag. 
                The message.tags variable is a string that specifies the message tag (e.g. 'success', 'warning', 'error', etc.). -->
            <div class="alert {{ message.tags }} alert-dismissible" role="alert"  >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="True">&times;</span>
                </button>
                <p style="text-align: center;">{{ message }}</p>
            </div>
            </div>
        {% endfor %}

        
        
    <!-- Telling Django that this where the next block of content is
    all everything will be inheriteted and will be fixed in here 
    All changing content of the child will be included in the block for the other pages inheritating this base.html-->
    {% block content %}


    {% endblock %}

</div>
    <footer>
        <div class="footer-text">
            <p><i>All rights reserved &copy; profic 2023.</i></p>
        </div>
    </footer>
</div>

 <!-- Optional Javascript -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


 <!-- This JS script here is for timing my bootstrap alert messages for 5s only and disappear -->
 <script>
    // the `id` attribute of element of div i wanna time out is `message_container`.
    var message_element = document.getElementById("message_container");
    setTimeout(function() {
        message_element.style.display = "none";
    }, 5000); // My timeout is 5 sec for now
 </script>

</body>

</html>