{% extends 'base.html' %}
{% block content %}
        <br><br>
       <div class="sign_title">
            <h3>User Login Page</h3>
        </div>  
        
        <!-- form action is the url where the form posts its data -->
        <!-- method is the type of request made by the form either post or get -->
        <form action="{% url 'login_user' %}" id="regform" method="POST" enctype="multipart/form-data">
 
            {% csrf_token %}
            <div class="registerdiv">               
                <!-- all data captured within a form can be accessed in the views 
                using the name of that field -->
                <input placeholder="Username" name="username" type="text" required>
                <br> 
                <input placeholder="Password" name="password" type="password" required>
                <br> 
                <button type="submit" class="button1" title="Login" id="signupbtn">Login</button> 
                <span href="">New User, <a href="{% url 'register' %}">Register Now</a>  </span>
 
            </div>
        </form>

{% endblock %}