<!-- Loading of static files to our html template -->
{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ p_title }}</title>
    <!-- Now accessing the static there a css dir and it has a style.css file
         the added css on 2 to be renders within our html file -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>

    <header>
        <nav>
            <ul>
                <li id="logo">{{ p_title}}</li>

                {% if user.is_authenticated%}
                <li class="navlink">{{username}}</li>
                {% else%}
                <li class="navlink">Login</li>
                <li class="navlink">Register</li>
                {% endif%}
                <li class="navlink">About</li>
                <li class="navlink">Home</li>
            </ul>
        </nav>

    </header>

    <div class="registerdiv">
        <form action="" method="POST" id="regform">
            <h3>New User Registration</h3>
            <input type="text" placeholder="Enter Your Username " name="username" />
            <input type="email" placeholder="Enter Your Email Address" name="email" />
            <input type="password" placeholder="Enter Your Password" name="password" />
            <input type="password" placeholder="Confirm Password" required="password" />
            <input type="submit" value="Register User" name="submit" />
        </form>
    </div>

    <footer>

    </footer>

</body>

</html>