{% extends 'base.html' %}
{% load static%}

{% block content %}
{% if user.is_authenticated %}
<br><br>
    <div class="container" id="form_div">
        <form action="{% url 'user_form' %}" method="POST">
            <h5>Contact Us.</h5>
            <h4><b>Fill the form below.</b></h4>
            {% csrf_token %}
             
            <input type="name" class="form-control"  placeholder="Enter Full Name" name='name'>
        
            <div class="mb-3">
            <input type="email" class="form-control"  placeholder="Enter Valid Email" name='email'>
            </div>
            <div class="mb-3">
            <input type="text" class="form-control"  placeholder="Enter Phone Number" name='occupation'>
            </div>
            <div class="mb-2" >
            <p><b> Brief description of yo Message</b></p>
            <textarea type="text" class="form-control" id="message_box" placeholder="Enter your Message" name='message'>

            </textarea>
            </div>
            <input type="submit"  class="btn btn btn-success" value="Send Message" />
        </form>
    </div>
{% endif %}
{% endblock %}