/*  */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #720760
    ;
    color: #fff;
    min-height: 100px;
    padding-top: 20px;
    width: 100%;
}

header a {
    text-decoration: none;
    list-style: none;
    color: rgb(252, 139, 139);
}

header li {
    list-style: none;
    padding: 0 20px;
    font-size: 18px;
}

.nav {
    background-color: lavender;
}

.navlink {
    display: flex;
    float: right;
    margin-right: 15px;
}

#logo {
    color: yellow;
}

#regform {
    width: 80%;
    padding: 10px;
}

#regform input {
    width: 80%;
    padding: 15px;
    margin: 10px;
}

.registerdiv {
    text-align: center;
    margin-left: 20%;
}

#regform select {
    width: 85%;
    padding: 15px;
    margin: 10px;
}

.sign_title{
    margin-left: 40%;
}



/* My custom css */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


/*  */
.button1:hover{
    color: white;
    background-color: #720760;
    font-size: 16px; 
}
#signupbtn{
    width: 10%;
}


#regform button {
    width: 50%;
    padding: 15px;
    margin: 10px; 
    font-size: 16px;
    border-radius: 15px;
}