/*  */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: purple;
    color: #fff;
    min-height: 70px;
    padding-top: 20px;
    width: 100%;
}

header li {
    list-style: none;
    padding: 0 20px;
    font-size: 18px; 
}

.nav {
    background-color: lavender;
}

.navlink {
    display: flex;
    float: right;
    margin-right: 15px;
}


/* My custom css */
