/*  */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: purple;
    color: #fff;
    min-height: 70px;
    padding-top: 20px;
    width: 100%;
}

header a {
    text-decoration: none;
    list-style: none;
    color: rgb(252, 139, 139);
}

header li {
    list-style: none;
    padding: 0 20px;
    font-size: 18px;
}

.nav {
    background-color: lavender;
}

.navlink {
    display: flex;
    float: right;
    margin-right: 15px;
}

#logo {
    color: yellow;
}
#regform{
    width: 80%;
    padding: 10px; 
}

#regform input{
    width: 80%;
    padding: 15px;
    margin: 10px;
}

.registerdiv{
    text-align: center;
}
/* My custom css */